@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   border: none;
   outline: none;
   scroll-behavior: smooth;
   font-family: 'poppins', sans-serif; 
}

:root {
    --bg-color:  radial-gradient(circle, #2385c4, #dbcbff);
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
    --el-color: #ffffff7b;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.img img {
    height: 6.3rem;
    width: auto;
    position: absolute;
    margin-top: -9rem;
    margin-left: -7rem;
    transition: .2s;

}

.img img:hover {
    height: 6.8rem;
    width: auto;
    position: absolute;
    margin-top: -9rem;
    margin-left: -7rem;
    animation: floatImagee 1s ease-in-out infinite;
    
}

@keyframes floatImagee {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-1rem);
    }

    100% {
        transform: translateX(0);
    }
}

h2 {
    font-size: 8rem;
    text-align: center;
    margin-top: -11rem;
    font-family: 'poppins', sans-serif; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60rem;
    margin-top: -8.5rem;
}
  
.box {
    width: 130%;
    height: 82%;
    background: var(--el-color);
    border-radius: 20px;
}
  

.portofolio {
    background-color: var(--bg-color);
    
}

.portofolio h2 {
    margin-bottom: 4rem;
}

.portofolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portofolio-container .portofolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--second-bg-color);
    overflow: hidden;
    display: flex;
}

.portofolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portofolio-box:hover img {
    transform: scale(1.1);
}

.portofolio-box .portofolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portofolio-box:hover .portofolio-layer {
    transform: translateY(0);
}

.portofolio-layer h4 {
    font-size: 3rem;
    text-shadow: 2px 3px 3px var(--main-color);
    
}

.portofolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portofolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    box-shadow: 0 0 1rem black;
}

.portofolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
    
}


/*BREAKPOINTS*/
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 4rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .portofolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }

    .img img {
        height: 6.3rem;
        width: auto;
        position: absolute;
        margin-top: -9rem;
        margin-left: -5rem;
    }
}


@media (max-width: 768px) {
    #menu-icon {
        display: block;
        right: 4%;
        position: absolute;
    }

    

    .media a i {
        font-size: 2.5rem;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .media a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 5.2rem;
        height: 5.2rem;
        background: transparent;
        border: .2rem solid var(--main-color);
        border-radius: 50%;
        font-size: 2rem;
        color: var(--main-color);
        margin: 1rem 1.7rem 1rem 0;
        transition: .5s ease;
        box-shadow: 0 0 1rem var(--main-color);
    }

    .contact  me {
        width: 100%;
        height: 360px;
        margin-top: 5%;
        box-shadow: 0 0 1rem var(--main-color);
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .logo img {
        font-size: 2.5rem;
        color: var(--text-color);
        font-weight: 600;
        cursor: default;
        width: 175px;
        height: 175px;
        position: absolute;
        top: -20%;
        left: 1%;
    }
    

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background-color: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgba(33, 40, 54, 0.97);
        backdrop-filter: blur(50px);
    }

    .navbar.active {
        display: block;
        backdrop-filter: blur(50px);
    }
    
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 71vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .portofolio h2 {
        margin-bottom: 3rem;
    }

    .portofolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .services h2 {
        margin-bottom: 5rem;
    }
    
    .service-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-bottom: 70px;
    }

    .service-containerr {
        display: block;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-bottom: 70px;
        text-align: center;
    }
    
    .service-container .service-box {
        background-color: var(--second-bg-color);
        padding: 3rem 2rem 4rem;
        border-radius: 2rem;
        text-align: center;
        border: .2rem solid var(--main-color);
        min-height: 20%;
        min-width: 20%;
        height: 34rem;
        width: 180px;
        box-shadow: 0 0 1rem var(--main-color);
    
    }
    
    
    
    .service-box img  {
        border-radius: 5%;
        height: 70%;
        width: 100%;
        box-shadow: 0 0 1rem var(--main-color);
         margin-top: -5%;
    }
    
    .service-box h3 {
        font-size: 1.2rem;
        text-align: left;
        margin-top: 8%;
        color: var(--main-color);
        text-shadow: 1px 1px 2px var(--main-color);
    }
    
    .service-box p {
        font-size: 1rem;
        margin-top: 2%;
        text-align: left;
    }
    
}

    .services-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding-bottom: 70px;
    }


@media (max-width: 617px) {
    .portofolio-container {
            grid-template-columns: 1fr;
        }

        .contact iframe {
            width: 100%;
            height: 300px;
            margin-top: 5%;
            box-shadow: 0 0 1rem var(--main-color);
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        h2 {
            font-size: 7.5rem;
        }

        .img img {
            height: 5rem;
            width: auto;
            position: absolute;
            margin-top: -9rem;
            margin-left: -3rem;
        }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box {
        width: 100%;
    }

    .logo img {
        font-size: 2.5rem;
        color: var(--text-color);
        font-weight: 600;
        cursor: default;
        width: 170px;
        height: 170px;
        position: absolute;
        top: -20%;
        left: 1%;
    }
    
    .contact iframe {
        width: 100%;
        height: 250px;
        margin-top: 5%;
        box-shadow: 0 0 1rem var(--main-color);
        justify-content: center;
        align-items: center;
        text-align: center;
    }

      /*Quotes*/
      .services h2 {
        margin-bottom: 5rem;
    }
    
    .service-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-bottom: 70px;
    }
    
    .service-container .service-box {
        background-color: var(--second-bg-color);
        padding: 3rem 2rem 4rem;
        border-radius: 2rem;
        text-align: center;
        border: .2rem solid var(--main-color);
        min-height: 20%;
        min-width: 20%;
        height: 25em;
        width: 180px;
        box-shadow: 0 0 1rem var(--main-color);
    
    }
    
    
    
    .service-box img  {
        border-radius: 5%;
        height: 60%;
        width: 100%;
        box-shadow: 0 0 1rem var(--main-color);
         margin-top: -10%;
    }
    
    .service-box h3 {
        font-size: 0.9rem;
        text-align: left;
        margin-top: 8%;
        color: var(--main-color);
        text-shadow: 1px 1px 2px var(--main-color);
    }
    
    .service-box p {
        font-size: 0.8rem;
        margin-top: 2%;
        text-align: left;
    }

    h2 {
        font-size: 7rem;
    }


    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60rem;
        margin-top: -6rem;
    }
      
    .box {
        width: 130%;
        height: 90%;
        background: var(--el-color);
        border-radius: 20px;
    }

}

@media (max-width: 365px) {
    .home-img img {
        width: 100vw;
    }

    .contact iframe {
        width: 100%;
        height: 200px;
        margin-top: 5%;
        box-shadow: 0 0 1rem var(--main-color);
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .media a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        background: transparent;
        border: .2rem solid var(--main-color);
        border-radius: 50%;
        font-size: 2rem;
        color: var(--main-color);
        margin: 1rem 1.7rem 1rem 0;
        transition: .5s ease;
        box-shadow: 0 0 1rem var(--main-color);
    }

    .media a i {
        font-size: 2.2rem;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .about-img img {
        width: 78vw;
        margin-top: -40px;
        height: auto;
        animation: floatImage 4s ease-in-out infinite;
    }

    .about-imgg img {
        width: 78vw;
        margin-top: -15px;
        height: 55vw;
        animation: floatImage 3s ease-in-out infinite;
        
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }

          /*Quotes*/
          .services h2 {
            margin-bottom: 5rem;
        }
        
        .service-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            padding-bottom: 70px;
        }
        
        .service-container .service-box {
            background-color: var(--second-bg-color);
            padding: 3rem 2rem 4rem;
            border-radius: 2rem;
            text-align: center;
            border: .2rem solid var(--main-color);
            min-height: 20%;
            min-width: 20%;
            height: 23rem;
            width: 180px;
            box-shadow: 0 0 1rem var(--main-color);
        
        }
        
        
        
        .service-box img  {
            border-radius: 5%;
            height: 50%;
            width: 100%;
            box-shadow: 0 0 1rem var(--main-color);
             margin-top: -25%;
        }
        
        .service-box h3 {
            font-size: 0.7rem;
            text-align: left;
            margin-top: 8%;
            color: var(--main-color);
            text-shadow: 1px 1px 2px var(--main-color);
        }
        
        .service-box p {
            font-size: 0.7rem;
            margin-top: 1%;
            text-align: left;
        }
         h2 {
            font-size: 6.3rem;
         }


         .container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60rem;
            margin-top: -4rem;
        }
          
        .box {
            width: 130%;
            height: 90%;
            background: var(--el-color);
            border-radius: 20px;
        }
    
}

@media (max-width: 296px) {
    .home-img img {
        width: 90vw;
    }

              /*Quotes*/
              .services h2 {
                margin-bottom: 5rem;
            }
            
            .service-container {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                padding-bottom: 70px;
            }
            
            .service-container .service-box {
                background-color: var(--second-bg-color);
                padding: 3rem 2rem 4rem;
                border-radius: 2rem;
                text-align: center;
                border: .2rem solid var(--main-color);
                min-height: 20%;
                min-width: 20%;
                height: 19rem;
                width: 180px;
                box-shadow: 0 0 1rem var(--main-color);
            
            }
            
            
            
            .service-box img  {
                border-radius: 5%;
                height: 50%;
                width: 100%;
                box-shadow: 0 0 1rem var(--main-color);
                 margin-top: -25%;
            }
            
            .service-box h3 {
                font-size: 0.7rem;
                text-align: left;
                margin-top: 8%;
                color: var(--main-color);
                text-shadow: 1px 1px 2px var(--main-color);
            }
            
            .service-box p {
                font-size: 0.6rem;
                margin-top: 2%;
                text-align: left;
            }

    .contact iframe {
        width: 100%;
        height: 170px;
        margin-top: 5%;
        box-shadow: 0 0 1rem var(--main-color);
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .media a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        background: transparent;
        border: .2rem solid var(--main-color);
        border-radius: 50%;
        font-size: 2rem;
        color: var(--main-color);
        margin: 1rem 1.7rem 1rem 0;
        transition: .5s ease;
        box-shadow: 0 0 1rem var(--main-color);
    }

    .media a i {
        font-size: 2rem;
        align-items: center;
        text-align: center;
        justify-content: center;
    }


}





